:host {
    flex: 1;
    padding: 30px;
    div {
        margin: 10px 0px;
    }
    input {
        width: 50%;
        min-width: 200px;
        font-size: 20px;
        padding: 8px;
    }
    button {
        padding: 8px 32px;
        margin: 16px 0px;
    }
    .error {
        margin: 0px;
    }
}